* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px 15px 40px;
  background-color: white;
}

.logo {
  font-size: 1.3em;
  text-decoration: none;
  color: rgb(222, 182, 132);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
}

ul {
  display: flex;
  gap: 40px;
}

li {
  color: #a6a6a6;
  list-style: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

li:hover {
  color: rgb(222, 182, 132);
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
}

.contact {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  background-color: rgb(222, 182, 132);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.contact:hover {
  background-color: rgb(218, 171, 109);
  color: #fafafa;
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
}

.contact:active {
  background-color: rgb(193, 147, 87);
  color: #eaeaea;
}

main {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  padding: 30px 100px;
  background-color: #fafafa;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 85px 50px 0 0;
}

.image-container {
  margin: 40px 0 40px 125px;
  cursor: pointer;
}

span {
  color: rgb(222, 182, 132);
}

.pesan {
  width: 35%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  background-color: rgb(222, 182, 132);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.pesan:hover {
  background-color: rgb(218, 171, 109);
  color: #fafafa;
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
}

.pesan:active {
  background-color: rgb(193, 147, 87);
  color: #eaeaea;
}
