* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-right: 100px;
  padding-left: 50px;
  background-color: rgba(16, 15, 15, 0.4);
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 170px;
}

li {
  color: white;
  font-size: 1.1em;
  list-style: none;
  cursor: pointer;
  font-weight: 500;
}

li:hover {
  color: rgb(33, 115, 222);
  transition: ease-in-out;
  -webkit-transition: ease-in-out;
  -moz-transition: ease-in-out;
  -ms-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition-duration: 500ms;
}

.title {
  padding-top: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px;
  color: white;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 10px;
  padding-bottom: 20px;
}

p {
  text-align: center;
}
